{% load static %}
<footer class="footer-container">
    <div class="footer-section footer-brand">
        <img src="{% static 'img/IconeNestGuard.png' %}" alt="Logo NestGuard" class="footer-logo">
        <p class="footer-copyright">Copyright © 2020 NestGuard Ltd.<br>Todos os direitos reservados</p>
        <div class="footer-social-icons">
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>

    <div class="footer-section footer-links">
        <h4 class="footer-heading">Institucional</h4>
        <ul>
            <li><a href="#">Sobre nós</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Fale conosco</a></li>
            <li><a href="#">Preços</a></li>
            <li><a href="#">Depoimentos</a></li>
        </ul>
    </div>

    <div class="footer-section footer-links">
        <h4 class="footer-heading">Suporte</h4>
        <ul>
            <li><a href="#">Central de ajuda</a></li>
            <li><a href="#">Termos de serviço</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Política de privacidade</a></li>
            <li><a href="#">Status do sistema</a></li>
        </ul>
    </div>

    <div class="footer-section footer-subscribe">
        <h4 class="footer-heading">Mantenha-se atualizado!</h4>
        <form action="#" class="subscribe-form">
            <input type="email" placeholder="Seu endereço de e-mail" class="subscribe-input">
            <button type="submit" class="subscribe-button"><i class="fas fa-paper-plane"></i></button>
        </form>
    </div>
</footer>