{% load static %}
<div class="registro-orcamento-body">
    <div class="registro-orcamento-container">
        <aside class="registro-orcamento-sidebar">
            <div class="registro-orcamento-logo">
                <img src="{% static 'img/IconeNestGuard.png' %}" alt="Logo">
            </div>
            <div class="registro-orcamento-menu">
                <button class="registro-orcamento-button registro-orcamento-email-button">Email</button>
                <button class="registro-orcamento-button registro-orcamento-whatsapp-button">Whatsapp</button>
            </div>
        </aside>
        <main class="registro-orcamento-form-container">
            <h1 class="registro-orcamento-title">Registro de orçamento – <span>Totalmente grátis</span></h1>

            
            <form method="POST" class="registro-orcamento-form">
                {% csrf_token %}
                <div class="registro-orcamento-form-group">
                    {{ form.nome_cliente.label_tag }}
                    {{ form.nome_cliente }}
                </div>
                <div class="registro-orcamento-form-group">
                    {{ form.telefone_cliente.label_tag }}
                    {{ form.telefone_cliente }}
                </div>
                <div class="registro-orcamento-form-group">
                    {{ form.email_cliente.label_tag }}
                    {{ form.email_cliente }}
                </div>
                <div class="registro-orcamento-form-group">
                    {{ form.descricao_servico.label_tag }}
                    {{ form.descricao_servico }}
                </div>
                <div class="registro-orcamento-form-group">
                    {{ form.data_entrega.label_tag }}
                    {{ form.data_entrega }}
                </div>
                <div class="registro-orcamento-form-group">
                    {{ form.tipo_servico.label_tag }}
                    {{ form.tipo_servico }}
                </div>
                <button class="registro-orcamento-submit-button" type="submit">Enviar</button>
            </form>
            
        </main>
    </div>
</div>