{% load static %}
<div class="registro-orcamento-body">
    <div class="registro-orcamento-container">
        <aside class="registro-orcamento-sidebar">
            <div class="registro-orcamento-logo">
                <img src="{% static 'img/IconeNestGuard.png' %}" alt="Logo">
            </div>
            <div class="registro-orcamento-menu">
                <button class="registro-orcamento-button registro-orcamento-email-button">Email</button>
                <button class="registro-orcamento-button registro-orcamento-whatsapp-button">Whatsapp</button>
            </div>
        </aside>
        <main class="registro-orcamento-form-container">
            <h1 class="registro-orcamento-title">Registro de orçamento – <span>Totalmente grátis</span></h1>
            <form class="registro-orcamento-form">
                <div class="registro-orcamento-form-group">
                    <label for="nome-cliente">Nome</label>
                    <input type="text" id="nome-cliente" placeholder="Digite seu nome">
                </div>
                <div class="registro-orcamento-form-group">
                    <label for="telefone-cliente">Número do celular</label>
                    <input type="text" id="telefone-cliente" placeholder="Digite seu número">
                </div>
                <div class="registro-orcamento-form-group">
                    <label for="email-cliente">Email</label>
                    <input type="email" id="email-cliente" placeholder="Digite seu email">
                </div>
                <div class="registro-orcamento-form-group">
                    <label for="descricao-servico">Descreva o serviço</label>
                    <textarea id="descricao-servico" placeholder="Faça um texto explicativo"></textarea>
                </div>
                <div class="registro-orcamento-form-group">
                    <label for="data-entrega">Selecione a data de entrega desejada</label>
                    <input type="date" id="data-entrega">
                </div>
                <div class="registro-orcamento-form-group">
                    <label for="tipo-servico">Selecione o tipo de serviços</label>
                    <select id="tipo-servico">
                        <option>Criação de site</option>
                        <option>Criação de design</option>
                        <option>Criação de bot</option>
                        <option>Hospedagem</option>
                        <option>Automação</option>
                        <option>outros</option>
                    </select>
                </div>
                <button class="registro-orcamento-submit-button">Seguinte</button>
            </form>
        </main>
    </div>
</div>