{% load static %}
<div class="custom-section-container">
    <div class="custom-content-wrapper">
        <!-- Imagem ilustrativa -->
        <div class="custom-image-container">
            <img src="{% static 'img/imgVector2.png' %}" alt="Illustration">
        </div>
        <!-- Conteúdo de texto -->
        <div class="custom-text-container">
            <h2 class="custom-title">Segurança Digital em Primeiro Lugar</h2>
            <p class="custom-description">
                Na NestGuard, sua segurança é nossa prioridade. Utilizamos tecnologias avançadas como VPNs dedicadas e
                criptografia de ponta a ponta para proteger seus dados e garantir total privacidade. Trabalhamos para
                que você possa operar com tranquilidade em um ambiente digital seguro e confiável.
            </p>
            <a href="#" class="custom-button">Saiba Mais</a>
        </div>
    </div>
</div>


<!-- O CSS DA SECTION 4 É O MESMO QUE O DA SECTION 3 -->