{% load static %}
<div class="custom-section-container">
    <div class="custom-content-wrapper">
        <!-- Imagem ilustrativa -->
        <div class="custom-image-container">
            <img src="{% static 'img/imgVector.png' %}" alt="Illustration">
        </div>
        <!-- Conteúdo de texto -->
        <div class="custom-text-container">
            <h2 class="custom-title">Simplifique a Gestão Digital do Seu Negócio</h2>
            <p class="custom-description">
                Na NestGuard, criamos soluções que fazem a diferença: sites modernos e dinâmicos, bots que otimizam processos e automações que economizam tempo. Tudo isso projetado para atender às necessidades do seu negócio de forma eficaz e acessível.
            </p>
            <a href="#" class="custom-button">Conheça Nossas Soluções</a>
        </div>
    </div>
</div>
