{% load static %}
<div class="business-stats-section">
    <!-- Texto à esquerda -->
    <div class="business-info-container">
        <h2 class="business-title">Soluções digitais para <span class="highlight">transformar seu negócio</span></h2>
        <p class="business-description">Inovação, automação e custo-benefício para impulsionar resultados.</p>
    </div>
  
    <!-- Estatísticas à direita -->
    <div class="stats-container">
        <div class="stats-row">
            <div class="stat-item">
                <img src="{% static 'img/icon-members.png' %}" alt="Customization Icon" class="stat-icon">
                <p class="stat-number">100%</p>
                <p class="stat-label">Personalização Garantida</p>
            </div>
            <div class="stat-item">
                <img src="{% static 'img/icon-clubs.png' %}" alt="Technology Icon" class="stat-icon">
                <p class="stat-number">Alta</p>
                <p class="stat-label">Tecnologia de Ponta</p>
            </div>
        </div>
        <div class="stats-row">
            <div class="stat-item">
                <img src="{% static 'img/icon-events.png' %}" alt="Automation Icon" class="stat-icon">
                <p class="stat-number">Automação</p>
                <p class="stat-label">Para mais produtividade</p>
            </div>
            <div class="stat-item">
                <img src="{% static 'img/icon-payments.png' %}" alt="Cost-Effective Icon" class="stat-icon">
                <p class="stat-number">Melhor</p>
                <p class="stat-label">Custo-benefício</p>
            </div>
        </div>
    </div>
</div>
