{% load static %}
<div class="customer-testimonial-section">
    <!-- Imagem à esquerda -->
    <div class="customer-image-container">
        <img src="{% static 'img/garantia.png' %}" alt="Garantia Icon" class="customer-logo">
    </div>

    <!-- Texto à direita -->
    <div class="customer-text-container">
        <p class="customer-quote">
            Na NestGuard, confiamos tanto na qualidade dos nossos serviços que oferecemos garantia completa em todas as
            soluções entregues. Caso algo não corresponda às suas expectativas, estamos aqui para ajustar e melhorar até
            alcançar sua total satisfação. Nossa prioridade é o sucesso do seu projeto!
        </p>
        <p class="customer-name">Garantia Total NestGuard</p>
        <p class="customer-association">Confiança e Compromisso</p>
        <a href="#" class="meet-customers-link">Saiba Mais →</a>
    </div>
</div>