{% load static %}
<div class="section-container">
    <div class="section-header">
        <h1>Gerencie seu negócio com soluções modernas e acessíveis</h1>
        <p>Por que escolher a NestGuard?</p>
    </div>
    <div class="cards-container">
        <div class="card">
            <img src="{% static 'img/icon1.png' %}" alt="Desenvolvimento de Sites Modernos">
            <h2>Desenvolvimento de Sites Modernos</h2>
            <p>Criamos sites responsivos, personalizados e otimizados para destacar seu negócio no mercado digital.</p>
        </div>
        <div class="card">
            <img src="{% static 'img/icon2.png' %}" alt="Automatização e Bots">
            <h2>Automatização e Bots</h2>
            <p>Automatize processos e otimize o atendimento com nossos bots inteligentes e soluções automatizadas.</p>
        </div>
        <div class="card">
            <img src="{% static 'img/icon3.png' %}" alt="Preços Competitivos">
            <h2>Preços Mais Competitivos</h2>
            <p>Oferecemos o melhor custo-benefício do mercado, tornando acessíveis tecnologias de ponta para o seu negócio.</p>
        </div>
    </div>
</div>
