
.containerLoginNest{
    display: flex;
    justify-content: center;
    padding: 10%;
    gap: 8%;  /* Distância entre imagem e campos de input */
    align-items: center;

}

.containerInputsLoginNest p{
    color: white;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.containerInputsLoginNest{
    width: 350px;
}
.containerInputsLoginNest h1{
    color: white;
    font-size: 44px;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.input-containerLoginNest {
    display: flex;
    align-items: center;
    background-color: #f0a500;
    border: 2px solid #f0a500;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0;
    transition: background-color 0.3s, color 0.3s;  /* Transição suave */
}

.input-containerLoginNest:hover {
    background-color: transparent;  /* Remove a cor de fundo no hover */
    border-color: #f0a500;  /* Mantém a borda */
}



.input-containerLoginNest:hover {
    background-color: transparent;
    border-color: #f0a500;
}

.icon-input {
    color: black;
    font-size: 24px;
    transition: color 0.3s;  /* Transição suave da cor */
}

.input-containerLoginNest:hover .icon-input {
    color: white;  /* Ícone fica preto no hover */
}


  .input-containerLoginNest img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  .input-containerLoginNest input {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 18px;
    width: 100%;
  }

  .input-containerLoginNest input::placeholder {
    color: black;
  }

    .input-containerLoginNest input:hover::placeholder {
        color: white;
    }
.img-containerLoginNest{
    margin-top: 2%;
}

  .PrimaryButton-component-Login {
    background-color: #F5AB00;
    border: 2px solid black;
    padding: 6px 20px;
    border-radius: 100px;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    display: block;  /* Ajusta para se comportar como um bloco */
    margin: 20px auto;  /* Centraliza horizontalmente com margem automática */
    text-align: center;  /* Garante que o texto fique alinhado no meio */
    font-size: 18px;
    width: 150px;  /* Controla a largura */
    transition: background-color 0.3s;
    cursor: pointer;
}
.PrimaryButton-component-Login:hover {
    background-color: #000000;
    color: #F5AB00;
}

@media (max-width: 768px) {
    .containerInputsLoginNest h1{
        font-size: 36px; /* Reduz o tamanho da fonte */
    }
    .img-containerLoginNest {
        display: none; /* Esconde a imagem em telas pequenas */
    }

    .containerLoginNest {
        padding: 10%; /* Ajusta o padding para evitar excesso de espaço */
    }

    .containerInputsLoginNest {

        
        width: 100%; /* Inputs ocupam quase toda a tela */
        max-width: none; /* Remove o limite máximo de largura */
    }

    .PrimaryButton-component-Login {
        width: 100%; /* O botão ocupa toda a largura em telas menores */
        max-width: 150px; /* Define um limite de largura */
    }
}