.steps-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.step {
    text-align: center;
    text-decoration: none;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(145deg, #F5AB00, #FFC300); /* Gradiente semelhante ao amarelo */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3), inset 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 54px;
    font-weight: bold;
    color: #000;
    border: 10px solid #4F4F4F; /* Borda cinza escuro */
    transition: background 0.3s, transform 0.2s;
    cursor: pointer;
}

.circle:hover {
    background: linear-gradient(145deg, #181818, #F5AB00); /* Verde claro */
    transform: scale(1.1); /* Aumenta levemente o círculo */
    color: white;
}

/* Efeito de clique */
.circle:active {
    transform: scale(1.05); /* Reduz levemente ao clicar */
}