{% extends "index.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}
<div class="containerLoginNest">
    <div class="img-containerLoginNest">
        <img src="{% static 'img/LoginIcon.png' %}" alt="Login Icon">
    </div>
    <div class="containerInputsLoginNest">
        <h1>Cadastre-se</h1>
        <div class="input-containerLoginNest">
            <span class="material-symbols-outlined icon-input">
                person
            </span>
            <input type="text" placeholder="Nome Completo" />
        </div>
        <div class="input-containerLoginNest">
            <span class="material-symbols-outlined icon-input">
                mail
            </span>
            <input type="text" placeholder="Email" />
        </div>
        <div class="input-containerLoginNest">
            <span class="material-symbols-outlined icon-input">
                call
            </span>
            <input type="text" placeholder="Telefone" />
        </div>
        <div class="input-containerLoginNest">
            <span class="material-symbols-outlined icon-input">
                password
            </span>
            <input type="text" placeholder="Senha" />
        </div>
        <div class="input-containerLoginNest">
            <span class="material-symbols-outlined icon-input">
                password
            </span>
            <input type="text" placeholder="Confirmar senha" />
        </div>
        <a href="#" class="PrimaryButton-component-Login" style="font-size: 20px;">
            cadastrar
        </a>
    </div>
</div>

{% endblock %}