{% extends "index.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}

{% for item in nestGuardDashboradPage %}
<div class="background-container">
    <img src="{% static 'img/vector.png' %}" alt="Fundo" class="background-img">

    <header class="header-homepageNestGuard">
        <div class="title-container">
            
            <h1 style="color: black;">{{ item.titulo1 }}<br>{{ item.titulo2 }}</h1>
            <img src="{% static 'img/dashboardWebmin.png' %}" alt="Logo" class="logo-img">
        </div>
    </header>
</div>

<section class="tecnologias-homepageNestGuard">
    <h2>{{ item.titulo3 }}</h2>
    <p>{{ item.descricao3 }}</p>

    <div class="container-tecnologias-homepageNestGuard">
        <div class="item-homepageNestGuard">
            <img src="{% static 'img/timeIcon.png' %}" alt="Monitoramento Icone">
            <h3>{{ item.titulo4 }}</h3>
            <p>{{ item.descricao4 }}</p>
        </div>
        <div class="item-homepageNestGuard">
            <img src="{% static 'img/PcIcon.png' %}" alt="Sistema Icone">
            <h3>{{ item.titulo5 }}</h3>
            <p>{{ item.descricao5 }}</p>
        </div>
        <div class="item-homepageNestGuard">
            <img src="{% static 'img/foguteIcon.png' %}" alt="Performance Icone">
            <h3>{{ item.titulo6 }}</h3>
            <p>{{ item.descricao6 }}</p>
        </div>
    </div>
</section>
<section class="features-section-homepageNestGuard">
    <div class="feature-row-homepageNestGuard">
        <div class="feature-content-homepageNestGuard">
            <h3>{{ item.titulo7 }}</h3>
            <p>{{ item.descricao7 }}</p>
        </div>
        <div class="feature-chart-homepageNestGuard">
            <img src="{% static 'img/dashboard1.png' %}" alt="Gráfico Radar">

        </div>
    </div>

    <div class="feature-row-homepageNestGuard">
        <div class="feature-chart-homepageNestGuard">
            <img src="{% static 'img/dashboard2.png' %}" alt="Gráfico de Barras">
        </div>
        <div class="feature-content-homepageNestGuard">
            <h3>{{ item.titulo8 }}</h3>
            <p>{{ item.descricao8 }}</p>
        </div>
    </div>

    <div class="feature-row-homepageNestGuard">
        <div class="feature-content-homepageNestGuard">
            <h3>{{ item.titulo9 }}</h3>
            <p>{{ item.descricao9 }}</p>
        </div>
        <div class="feature-chart-homepageNestGuard">
            <img src="{% static 'img/dashboard3.png' %}" alt="Paginação de Indicadores">
        </div>
    </div>
</section>

{% endfor %}
{% include "vectorFooter.html" %}
{% endblock %}
