{% extends "index.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}
<div class="particles-container">
    <div id="particles-js"></div> <!-- Partículas no fundo -->

    <div class="homepageNestGuard"> <!-- Conteúdo principal -->
        <div class="homepageNestGuard-component">
            <!-- Gráficos decorativos e conteúdo -->
            <div class="homepageNestGuard-text">
                <h1 class="homepageNestGuard-title">NestGuard</h1>
                <p class="homepageNestGuard-description">Aplicações Web</p>
                <div class="Buttons-component-SaibaMais">
                    <a href="serviços" class="PrimaryButton-component-SaibaMais">
                        Saiba Mais
                        <span class="material-symbols-outlined">arrow_forward</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}