{% extends "index.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}
<div class="containerLoginNest">
    <div class="img-containerLoginNest">
        <img src="{% static 'img/LoginIcon.png' %}" alt="Login Icon">
    </div>
    <div class="containerInputsLoginNest">
        <h1>Login</h1>
        <div class="input-containerLoginNest">
            <span class="material-symbols-outlined icon-input">
                person
            </span>
            <input type="text" placeholder="Telefone" />
        </div>
        <div class="input-containerLoginNest">
            <span class="material-symbols-outlined icon-input">
                mail
            </span>
            <input type="text" placeholder="Email" />
        </div>
        <div class="input-containerLoginNest">
            <span class="material-symbols-outlined icon-input">
                password
            </span>
            <input type="text" placeholder="Senha" />
        </div>
        <a href="home" class="PrimaryButton-component-Login" style="font-size: 20px;">
            Entrar
        </a>
        <p>Não possui uma conta? <a href="" style="text-decoration: none; color: #f0a500;">cadastre-se</a></p>
    </div>
</div>

{% endblock %}