{% extends "index.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}


<div class="background-container">
    <img src="{% static 'img/vector.png' %}" alt="Fundo" class="background-img">

    <header class="header-homepageNestGuard">
        <div class="title-container">

            <h1 style="color: black;">Proteção e<br>Manutenção!</h1>
            <img src="{% static 'img/securityImg.png' %}" alt="Logo" class="logo-img">
        </div>
    </header>
</div>
<section class="tecnologias-homepageNestGuard sitesSectionInf">
    <h2>Segurança?</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat
        est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit
        amet.
        Id vel in nam malesuada.</p>

    <h2 style="margin-top: 10%;">Criptografia e Firewall</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat
        est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit
        amet.
        Id vel in nam malesuada.</p>



        <div class="steps-container">
            <a href="#" class="step">
                <div class="circle">01</div>
            </a>
            <a href="#" class="step">
                <div class="circle">02</div>
            </a>
            <a href="#" class="step">
                <div class="circle">03</div>
            </a>
            <a href="#" class="step">
                <div class="circle">04</div>
            </a>
        </div>
        

</section>



{% include "vectorFooter.html" %}
{% endblock %}