{% extends "index.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}
<div class="fundoQuadrado">
    <div class="itensHomepageNestGuard-01">
        <div class="ItensImgText">
            <div class="textsHomepageNestGuard-01">
                <div id="svg-containerNestGuard" class="AllTextsNestGuard-01">
                    <h1 class="titleHomepageNestGuard-01"><span class="highlight-01">Conectando</span> você às</h1>
                    <h1 class="titleHomepageNestGuard-01">soluções mais <span class="highlight-01">inovadoras</span>!</h1>
                    <div class="Buttons-component-SaibaMais-01" style="margin-top: 40px;">
                        <a href="serviços" class="PrimaryButton-component-SaibaMais-01">
                            Ver serviços
                            <span class="material-symbols-outlined">arrow_forward</span>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="iconHomepageNestGuard-01">
                <img src="{% static 'img/iconImage.png' %}" alt="ImageIcon" class="ImageIcon-componentNestGuard-01">
            </div>
        </div>
        
    </div>  

    <!-- Adicionando o novo banner -->
    <div class="banner-services">
        <div class="service-item">
            <img src="{% static 'img/performance.png' %}" alt="Desenvolvimento de site">
            <p>Desenvolvimento de site</p>
        </div>
        <div class="service-item">
            <img src="{% static 'img/dashboard.png' %}" alt="Dashboards personalizados" >
            <p>Dashboards personalizados</p>
        </div>
        <div class="service-item">
            <img src="{% static 'img/protect.png' %}" alt="Proteção e manutenção">
            <p>Proteção e manutenção</p>
        </div>
    </div>
    

</div>


{% endblock %}
