{% extends "index.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}


<div class="background-container">
    <img src="{% static 'img/vector.png' %}" alt="Fundo" class="background-img">

    <header class="header-homepageNestGuard">
        <div class="title-container">

            <h1 style="color: black;">Desenvolvimento de Sites <br>Totalmente personalizados!</h1>
            <img src="{% static 'img/djangoReactImg.png' %}" alt="Logo" class="logo-img">
        </div>
    </header>
</div>
<section class="tecnologias-homepageNestGuard sitesSectionInf">
    <h2>Principais tecnologias</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat
        est.
        Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit amet.
        Id vel in nam malesuada.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat
        pellentesque volutpat est.
        Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit amet.
        Id vel in nam malesuada.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat
        pellentesque volutpat est.
        Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit amet.
        Id vel in nam malesuada.</p>

    <h2>Principais tecnologias</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat
        est.
        Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit amet.
        Id vel in nam malesuada.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat
        pellentesque volutpat est.
        Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit amet.
        Id vel in nam malesuada.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat
        pellentesque volutpat est.
        Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit amet.
        Id vel in nam malesuada.</p>

</section>
<div class="containerSitesNestGuard">
    <div class="cardSitesNestGuard">
        <div class="iconSitesNestGuard">
            <img src="https://cdn-icons-png.flaticon.com/512/5968/5968350.png" alt="Python">
        </div>
        <h2>Python</h2>
        <p>Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet porttitor rhoncus libero justo laoreet sit amet vitae.</p>
        <button>Saiba mais</button>
    </div>

    <div class="cardSitesNestGuard">
        <div class="iconSitesNestGuard">
            <img src="https://cdn-icons-png.flaticon.com/512/5968/5968381.png" alt="Django">
        </div>
        <h2>Django</h2>
        <p>Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet porttitor rhoncus libero justo laoreet sit amet vitae.</p>
        <button>Saiba mais</button>
    </div>

    <div class="cardSitesNestGuard">
        <div class="iconSitesNestGuard">
            <img src="https://cdn-icons-png.flaticon.com/512/732/732190.png" alt="HTML e CSS">
        </div>
        <h2>HTML e CSS</h2>
        <p>Vitae sapien pellentesque habitant morbi nunc. Viverra aliquet porttitor rhoncus libero justo laoreet sit amet vitae.</p>
        <button>Saiba mais</button>
    </div>
</div>


{% include "vectorFooter.html" %}
{% endblock %}