{% extends "index.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}


<div class="background-container">
    <img src="{% static 'img/vector.png' %}" alt="Fundo" class="background-img">
    {% for item in nestGuardSitesPage %}
    <header class="header-homepageNestGuard">
        <div class="title-container">

            <h1 style="color: black;">{{ item.titulo1 }}<br>{{ item.titulo2 }}</h1>
            <img src="{% static 'img/djangoReactImg.png' %}" alt="Logo" class="logo-img">
        </div>
    </header>
</div>
<section class="tecnologias-homepageNestGuard sitesSectionInf">
    <h2>{{ item.titulo3 }}</h2>
    <p>{{ item.descricao3 }}</p>

    <h2 style="margin-top: 10%;">{{ item.titulo4 }}</h2>
    <p>{{ item.descricao4 }}</p>

</section>
{% endfor %}
<div class="containerSitesNestGuard">
    {% for item in nestGuardCard %}
    <div class="cardSitesNestGuard">
        <div class="iconSitesNestGuard">
            <img src="{{ item.link_img }}" alt="Python">
        </div>
        <h2>{{ item.titulo }}</h2>
        <p>{{ item.descricao }}</p>
        <button class="saiba-mais-btn" data-titulo="{{ item.titulo }}" data-img="{{ item.link_img }}" data-descricao="{{ item.descricaoModal }}">
            Saiba mais
        </button>
    </div>
    {% endfor %}
</div>
<div id="modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <img id="modal-image" class="modal-image" src="" alt="Imagem da tecnologia">
        <h2 id="modal-title"></h2>
        <p id="modal-description"></p>
    </div>
</div>

{% include "vectorFooter.html" %}
{% endblock %}