{% extends "index.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}


<div class="background-container">
    <img src="{% static 'img/vector.png' %}" alt="Fundo" class="background-img">

    <header class="header-homepageNestGuard">
        <div class="title-container">
            
            <h1 style="color: black;">Desenvolvimento de Sites <br>Totalmente personalizados!</h1>
            <img src="{% static 'img/djangoImg.png' %}" alt="Logo" class="logo-img">
        </div>
    </header>
</div>


{% include "vectorFooter.html" %}
{% endblock %}
