{% extends "index.html" %}
{% load static %}

{% block body %}
{% include "navbar.html" %}


<div class="background-container">
    <img src="{% static 'img/vector.png' %}" alt="Fundo" class="background-img">

    <header class="header-homepageNestGuard">
        <div class="title-container">
            
            <h1 style="color: black;">Monitore sua empresa em <br>tempo real com dashboards</h1>
            <img src="{% static 'img/dashboardWebmin.png' %}" alt="Logo" class="logo-img">
        </div>
    </header>
</div>

<section class="tecnologias-homepageNestGuard">
    <h2>Principais tecnologias</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat est. 
       Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar sit amet. 
       Id vel in nam malesuada.</p>

    <div class="container-tecnologias-homepageNestGuard">
        <div class="item-homepageNestGuard">
            <img src="{% static 'img/timeIcon.png' %}" alt="Monitoramento Icone">
            <h3>Monitoramento</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat.</p>
        </div>
        <div class="item-homepageNestGuard">
            <img src="{% static 'img/PcIcon.png' %}" alt="Sistema Icone">
            <h3>Sistema</h3>
            <p>Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam. Vitae et, tortor pulvinar risus pulvinar.</p>
        </div>
        <div class="item-homepageNestGuard">
            <img src="{% static 'img/foguteIcon.png' %}" alt="Performance Icone">
            <h3>Melhor performance</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat.</p>
        </div>
    </div>
</section>
<section class="features-section-homepageNestGuard">
    <div class="feature-row-homepageNestGuard">
        <div class="feature-content-homepageNestGuard">
            <h3>Automação</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam.</p>
        </div>
        <div class="feature-chart-homepageNestGuard">
            <img src="{% static 'img/dashboard1.png' %}" alt="Gráfico Radar">

        </div>
    </div>

    <div class="feature-row-homepageNestGuard">
        <div class="feature-chart-homepageNestGuard">
            <img src="{% static 'img/dashboard2.png' %}" alt="Gráfico de Barras">
        </div>
        <div class="feature-content-homepageNestGuard">
            <h3>Sistema customizado</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat est. Vitae et, tortor pulvinar risus pulvinar sit amet.</p>
        </div>
    </div>

    <div class="feature-row-homepageNestGuard">
        <div class="feature-content-homepageNestGuard">
            <h3>Dashboards</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Elementum nisi aliquet volutpat pellentesque volutpat est. Sapien in etiam vitae nibh nunc mattis imperdiet sed nullam.</p>
        </div>
        <div class="feature-chart-homepageNestGuard">
            <img src="{% static 'img/dashboard3.png' %}" alt="Paginação de Indicadores">
        </div>
    </div>
</section>
{% include "vectorFooter.html" %}
{% endblock %}
